body {
    background-image: url("ROCK_PAPER_SCISSORS_2880X1800.jpg");
    background-size: auto;
    background-repeat: repeat-y;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.title {
    color: #ffffff;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    margin-top: 50px;
}

.subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    margin-top: 50px;
}

.rules {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
}

.btn {
    background-color: rgb(21, 24, 212);
    border: none;
    border-radius: 20px;
    box-shadow: black 0 20px 30px;
    padding: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 1.5%;
}
.btn:hover {
    transition: 500ms;
    background-color: gold;
    color: black;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.playerPicture {
    display: flex;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 37.4%;;
    left: 21%;
}

.computerPicture {
    display: flex;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 37.4%;
    left: 60%;
}
.player {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    position: absolute;
    top: 27%;
    left: 21%;
}

.computerCaption {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    position: absolute;
    top: 27%;
    left: 55%;
}

.playerScoreDisplay {
    background-color: black;
    color: orange;
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: center;
    padding-top: 1.5%;
    font-size: 24px;
}

.computerScoreDisplay {
    background-color: black;
    color: orange;
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 84%;
    text-align: center;
    padding-top: 1.5%;
    font-size: 24px;
}

.nextRound {
    display: flex;
    position: absolute;
    background-color: rgb(21, 24, 212);
    border: none;
    border-radius: 20px;
    box-shadow: black 0 20px 30px;
    padding: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 1.5%;
    top: 16%;
}

.nextRound:hover {
    transition: 500ms;
    background-color: gold;
    color: black;
}

.results {
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 37.4%;
    left: 40%;
}

.resultsCaption {
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 75%;
    left: 40.5%;
}

.playAgain {
    display: flex;
    position: absolute;
    top: 85%;
}

@media (max-width: 1680px) {
    .title {
        font-size: 78.75px;
    }
    .subtitle { 
        font-size: 52.5px;
    }
    .rules {
        font-size: 30.63px;
    }
    .btn {
        font-size: 35px;
    }
    .playerPicture {
        width: 350px;
        height: 350px; 
    }
    .computerPicture {
        width: 350px;
        height:350px;
    }
    .player {
        font-size: 35px;
    }
    .computerCaption {
        font-size: 35px;
    }
    .playerScoreDisplay {
        font-size: 21px;
        height: 44px;
        width: 175px;
    }
    .computerScoreDisplay {
        font-size: 21px;
        height: 44px;
        width: 175px;
    }
    .nextRound {
        font-size: 35px;
    }
    .results {
        width: 350px;
        height: 350px;
    }
    .resultsCaption {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1600) {
    .title {
        font-size: 75px;
    }
    .subtitle { 
        font-size: 50px;
    }
    .rules {
        font-size: 29px;
    }
    .btn {
        font-size: 33px;
    }
    .playerPicture {
        width: 332px;
        height: 332px; 
    }
    .computerPicture {
        width: 332px;
        height:332px;
    }
    .player {
        font-size: 33px;
    }
    .computerCaption {
        font-size: 33px;
    }
    .playerScoreDisplay {
        font-size: 20px;
        height: 42px;
        width: 166px;
    }
    .computerScoreDisplay {
        font-size: 20px;
        height: 42px;
        width: 166px;
    }
    .nextRound {
        font-size: 33px;
    }
    .results {
        width: 332px;
        height: 332px;
    }
    .resultsCaption {
        width: 332px;
        height: 332px;
    }
}

@media (max-width: 1440) {
    .title {
        font-size: 68px;
    }
    .subtitle { 
        font-size: 45px;
    }
    .rules {
        font-size: 26px;
    }
    .btn {
        font-size: 30px;
    }
    .playerPicture {
        width: 300px;
        height: 300px; 
    }
    .computerPicture {
        width: 300px;
        height:300px;
    }
    .player {
        font-size: 30px;
    }
    .computerCaption {
        font-size: 30px;
    }
    .playerScoreDisplay {
        height: 38px;
        width: 150px; 
        font-size: 18px;
    }
    .computerScoreDisplay {
        height: 38px;
        width: 150px; 
        font-size: 18px;
    }
    .nextRound {
        font-size: 30px;
    }
    .results {
        width: 300px;
        height: 300px;
    }
    .resultsCaption {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1360) {
    .title {
        font-size: 63px;
    }
    .subtitle { 
        font-size: 42px;
    }
    .rules {
        font-size: 25px;
    }
    .btn {
        font-size: 30px;
    }
    .playerPicture {
        width: 280px;
        height: 280px; 
    }
    .computerPicture {
        width: 280px;
        height:280px;
    }
    .player {
        font-size: 30px;
    }
    .computerCaption {
        font-size: 30px;
    }
    .playerScoreDisplay {
        height: 35px;
        width: 140px; 
        font-size: 17px;
    }
    .computerScoreDisplay {
        height: 35px;
        width: 140px; 
        font-size: 17px;
    }
    .nextRound {
        font-size: 30px;
    }
    .results {
        width: 280px;
        height: 280px;
    }
    .resultsCaption {
        width: 280px;
        height: 280px;
    }
}
@media (max-width: 1280) {
    .title {
        font-size: 60px;
    }
    .subtitle { 
        font-size: 40px;
    }
    .rules {
        font-size: 23px;
    }
    .btn {
        font-size: 28px;
    }
    .playerPicture {
        width: 268px;
        height: 268px; 
    }
    .computerPicture {
        width: 268px;
        height:268px;
    }
    .player {
        font-size: 28px;
    }
    .computerCaption {
        font-size: 28px;
    }
    .playerScoreDisplay {
        height: 33px;
        width: 134px; 
        font-size: 16px;
    }
    .computerScoreDisplay {
        height: 33px;
        width: 134px; 
        font-size: 16px;
    }
    .nextRound {
        font-size: 28px;
    }
    .results {
        width: 268px;
        height: 268px;
    }
    .resultsCaption {
        width: 268px;
        height: 268px;
    }
}
@media (max-width: 1024) {
    .title {
        font-size: 48px;
    }
    .subtitle { 
        font-size: 32px;
    }
    .rules {
        font-size: 19px;
    }
    .btn {
        font-size: 21px;
    }
    .playerPicture {
        width: 212px;
        height: 212px; 
    }
    .computerPicture {
        width: 212px;
        height:212px;
    }
    .player {
        font-size: 21px;
    }
    .computerCaption {
        font-size: 21px;
    }
    .playerScoreDisplay {
        height: 27px;
        width: 106px; 
        font-size: 13px;
    }
    .computerScoreDisplay {
        height: 27px;
        width: 106px; 
        font-size: 13px;
    }
    .nextRound {
        font-size: 21px;
    }
    .results {
        width: 212px;
        height: 212px;
    }
    .resultsCaption {
        width: 212px;
        height: 212px;
    }
}
@media (max-width: 800) {
    .title {
        font-size: 38px;
    }
    .subtitle { 
        font-size: 25px;
    }
    .rules {
        font-size: 15px;
    }
    .btn {
        font-size: 17px;
    }
    .playerPicture {
        width: 168px;
        height: 168px; 
    }
    .computerPicture {
        width: 168px;
        height:168px;
    }
    .player {
        font-size: 17px;
    }
    .computerCaption {
        font-size: 17px;;
    }
    .playerScoreDisplay {
        height: 21px;
        width: 84px; 
        font-size: 10px;
    }
    .computerScoreDisplay {
        height: 21px;
        width: 84px; 
        font-size: 10px;
    }
    .nextRound {
        font-size: 17px;
    }
    .results {
        width: 168px;
        height: 168px;
    }
    .resultsCaption {
        width: 168px;
        height: 168px;
    }
}
@media (max-width: 640) {
    .title {
        font-size: 30px;
    }
    .subtitle { 
        font-size: 20px;
    }
    .rules {
        font-size: 12px;
    }
    .btn {
        font-size: 13px;
    }
    .playerPicture {
        width: 132px;
        height: 132px; 
    }
    .computerPicture {
        width: 132px;
        height:132px;
    }
    .player {
        font-size: 13px;
    }
    .computerCaption {
        font-size: 13px;
    }
    .playerScoreDisplay {
        height: 17px;
        width: 66px; 
        font-size: 8px;
    }
    .computerScoreDisplay {
        height: 17px;
        width: 66px; 
        font-size: 8px;
    }
    .nextRound {
        font-size: 13px;;
    }
    .results {
        width: 132px;
        height: 132px;
    }
    .resultsCaption {
        width: 132px;
        height: 132px;
    }
}