body {
    background-image: url("ROCK_PAPER_SCISSORS_2880X1800.jpg");
    background-size: auto;
    background-repeat: repeat-y;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.title {
    color: #ffffff;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    margin-top: 50px;
}

.subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    margin-top: 50px;
}

.rules {
    color: #ffffff;
    text-align: center;
font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
}



.btn {
    background-color: rgb(21, 24, 212);
    border: none;
    border-radius: 20px;
    box-shadow: black 0 20px 30px;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 25px;
}
.btn:hover {
    transition: 500ms;
    background-color: gold;
    color: black;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.playerPicture {
    display: flex;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 37.4%;;
    left: 21%;
}

.computerPicture {
    display: flex;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 37.4%;
    left: 60%;
}
.player {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    position: relative;
    top: auto;
    left: -330px;
}

.computerCaption {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: black 0 20px 30px;
    position: absolute;
    top: 211px;
    left: 1075px;
}

.playerScoreDisplay {
    background-color: black;
    color: orange;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
}

.computerScoreDisplay {
    background-color: black;
    color: orange;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 1650px;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
}

.nextRound {
    display: flex;
    position: absolute;
    background-color: rgb(21, 24, 212);
    border: none;
    border-radius: 20px;
    box-shadow: black 0 20px 30px;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    top: 50%;
}

.nextRound:hover {
    transition: 500ms;
    background-color: gold;
    color: black;
}

.results {
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 37.4%;
    left: 40%;
    
    
}

.playAgain {
    display: flex;
    position: absolute;
    top: 85%;

}